@model EShop.Models.QuestModel


@foreach (var modA in Model.QuestionName.ListAnswerName)
{
               
    <div class="form-group">

        <div class="radio">
            <label>
                @Html.RadioButtonFor(m => m.SelectAnswer, modA.idLA, new { id = modA.idLA })

                @Html.DisplayFor(item => modA.NameAnswer)
            </label>
        </div>

    </div>
                  
}

