@{
    ViewBag.Title = "Нет вопросов";
}
<h3>В тесте нет вопросов</h3>
@using (Html.BeginForm("ViewAddQuestion", "AddQuest", new { idTest = ViewBag.idTest }))
                {
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Добавить вопрос" class="btn btn-default"/>
                }
