<h4>Тест удален</h4>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "@Url.Action("UpdateTest", "AddTest")";;
        }, 0);
    })
</script>